@font-face {
    font-family: "Oswald";
    src: url(fonts/Oswald-VariableFont_wght.ttf)
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Bold.ttf)
}

@font-face {
    font-family: "Proxima";
    src: url(fonts/ProximaNova-Extrabld.woff)
}

p {
    margin: 0;
}

.info {
    margin-bottom: 0;
    font-size: 17px;
    width: 100px;
    padding: 0;
    text-align: center;
    color: #FFF;
    background: transparent;
}

.info2 {
    margin-bottom: 0;
    font-size: 17px;
    width: 100px;
    padding: 0;
    text-align: center;
    color: #FFF;
    background: transparent;
}

.buttonPlay {
    cursor: pointer;
    align-items: center;
    padding: 14px 49px 8px 49px;
    font-family: OpenSans;
    border-radius: 50px;
    width: 40%;
    margin: auto;
    font-size: 14px;
    color: lightslategray;
    background: rgba(255, 255, 255, 0.671);
    border: none;
}

.buttonPlay div:first-child {
    margin-right: 18px;
}

.leftSide-profile-container {
    width: 40%;
    height: 100%;
}

.avatar {
    height: 130px;
    width: 113px;
    border-radius: 0px 0px 10px 0px;
    margin: 5px;
    border: 2px solid white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.edit-container {
    position: absolute;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 100px;
    padding: 30px;
}

i.fas.fa-cogs {
    color: #42275a;
}

.rightSide-profile-container {
    width: 60%;
    height: 100%;
    padding: 10px;
}

.profile-container-game {
    background: #42275a;
    background: linear-gradient(to right, #734b6d, #42275a);
    background: linear-gradient(to right, #734b6d, #42275a);
    width: 450px;
    border-radius: 0px 0px 20px 0px;
    height: 180px;
    display: flex;
}

.containerOver {
    width: 100%;
    padding: 10px;
}

.form div:first-child {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.row-container {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: dimgray;
    padding-right: 100px;
    text-align: center;
    font-family: OpenSans;
    padding-bottom: 15px;
}

i.fas.fa-door-closed {
    color: #42275a;
}

.row-container-profile {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #FFF;
    margin-right: 40px;
    text-align: center;
    font-family: OpenSans;
    padding-bottom: 15px;
    padding-top: 6px;
    border-bottom: 1px solid white;
}

.profile-container {
    display: flex;
}

.img-cotntainer {
    padding: 25px;
    width: 25%;
}

.img-cotntainer i {
    font-size: 130px;
}

.fas {
    font-size: 50px;
    margin-top: -10px;
    color: rgba(46, 121, 44, 0.671);
}

.page-container {
    width: 100%;
    display: flex;
    height: 100vh;
    background: #2C3E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
}

.left {
    width: 50%;
    height: 100vh;
    z-index: 1;
}

.right {
    width: 50%;
    height: 100vh;
    z-index: 2;
}

.left-text__container p:first-child {
    color: #FFF;
    font-family: Proxima;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 60px;
    position: absolute;
    padding-top: 30vh;
    padding-left: 10vw;
}

.left-text__container p:last-child {
    color: #FFF;
    font-family: Proxima;
    letter-spacing: 3px;
    font-size: 44px;
    padding-top: 38vh;
    position: absolute;
    padding-left: 10vw;
}

input[type="date"] {
    width: 233px;
    color: dimgray;
}

.form-container {
    width: 320px;
    background: rgba(255, 255, 255, 0.671);
    position: absolute;
    top: 48%;
    height: 510px;
    left: 50%;
    box-shadow: 13px 18px 31px 4px rgba(160, 157, 157, 0.5);
    border-radius: 30px;
    transform: translate(75%, -55%);
}

.video::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(49, 48, 48, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.gender-choise {
    display: flex;
    align-items: center;
    padding-top: 100px;
    justify-content: center;
}

.formp {
    font-size: 18px;
    font-family: OpenSans;
}

.form {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-family: OpenSans;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%
}

.video__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.intro {
    overflow: hidden;
    max-height: 100vh;
}

input {
    margin-bottom: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.671);
    /* box-shadow: 0px 10px 2px -8px #F97794; */
    padding: 7px 27px;
    border-radius: 14px;
    font-size: 14px;
}

.password {
    margin-bottom: 15px;
}

.shield {
    height: 170px;
}


/* .button-container {
    padding-top: 150px;
} */

.earth {
    position: absolute;
    bottom: -60px;
    width: 100%;
    ;
}

.denied {
    color: dimgray;
}

.cloud {
    position: absolute;
    height: 500px;
}

.far {
    font-size: 70px;
    padding-top: 30px;
}

.denied p {
    font-size: 23px;
    letter-spacing: 2px;
}

.windowContainer {
    position: absolute;
    height: 300px;
    background: rgba(255, 255, 255, 0.671);
    width: 500px;
    left: 50%;
    z-index: 2;
    border-radius: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.leftSettings {
    width: 30%;
    padding: 20px;
}

.rightSettings {
    width: 70%;
    padding: 20px;
}

.modal-settings {
    width: 450px;
    height: 230px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    background: linear-gradient(to right, #734b6d, #42275a);
    top: 50%;
    left: 50%;
}

.modal-settings p {
    font-size: 17px;
    color: #FFF;
    font-family: Proxima;
    text-align: center;
    padding-top: 5px;
}

.windowContainer p:first-child {
    font-size: 17px;
    padding-top: 15px;
    color: dimgray;
    text-align: center;
    font-family: OpenSans;
}

.time-container {
    position: absolute;
    display: flex;
    margin-top: 20px;
    left: 60%;
}

i.far.fa-clock {
    padding-top: 0;
    font-size: 50px;
    color: #42275a;
}

.time-container p {
    font-size: 18px;
    font-family: OpenSans;
    color: #42275a;
    align-self: center;
    margin-left: 20px;
}

.button {
    cursor: pointer;
    align-items: center;
    padding: 15px 49px 15px 49px;
    font-family: OpenSans;
    border-radius: 50px;
    width: 75%;
    font-size: 14px;
    color: lightslategray;
    background: rgba(255, 255, 255, 0.671);
    border: none;
}

.button-set {
    cursor: pointer;
    align-items: center;
    padding: 10px 19px 10px 19px;
    font-family: OpenSans;
    margin: auto;
    border-radius: 50px;
    width: 35%;
    display: block;
    font-size: 14px;
    color: lightslategray;
    background: rgba(255, 255, 255, 0.671);
    border: none;
}

input {
    font-family: OpenSans;
}

.link-active::after {
    border-bottom: 1px solid;
}

.button-profile {
    cursor: pointer;
    align-items: center;
    padding: 7px 11px 7px 8px;
    font-family: OpenSans;
    border-radius: 50px;
    width: 120px;
    margin-left: 5px;
    text-align: center;
    margin-top: 5px;
    font-size: 11px;
    color: white;
    background: rgba(255, 255, 255, 0.671);
    border: none;
}

.containerSet {
    display: flex;
}

.image-profile-container {
    margin: 10px;
}

.exit-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 20px;
}

.exit-container p {
    font-size: 18px;
    font-family: OpenSans;
    color: #42275a;
}

.money-container {
    position: absolute;
    left: 50%;
    margin-top: 29px;
    display: flex;
}

.moneyIcon-container {
    margin-right: 20px;
}

.money-container p {
    font-size: 18px;
    font-family: OpenSans;
    color: #42275a;
    align-self: center;
}

i.fas.fa-money-bill-alt {
    color: #42275a;
}

.leaderBoard-container {
    position: absolute;
    right: 0;
    padding: 30px;
    margin-top: 170px;
}

i.fas.fa-crown {
    color: #42275a;
}

.build-img {
    height: 100px;
}

.building-container {
    bottom: 0;
    border: 10px solid #42275a;
    padding: 10px 30px 30px;
    background: linear-gradient(to right, #734b6db4, #42275a62);
}

.building-container p {
    font-size: 18px;
    font-family: OpenSans;
    color: #42275a;
    text-align: center;
}

#game {
    height: 68vh;
    background: linear-gradient(to right, #4CA1AF, #4CA1AF);
}

.buildings {
    display: flex;
    bottom: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient(to right, #734b6d8e, #42275a8c);
}

.polyana {
    background: url(/images/polyana.png);
    height: 300px;
    background-size: cover;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 212px;
}

.polyana img {
    height: 150px;
}